<!DOCTYPE html>
html(lang="es")
    head
        include ../includes/landing/headerLanding
    body()
        include ../includes/landing/navbar
        block content
        include ../includes/landing/footer