nav.navbar.navbar-expand-lg.navbar-light.bg-light
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav.mr-auto.p-2
      a.nav-item.nav-link(href='#product') Productos
      a.nav-item.nav-link(href='#contact') Contactar
  h6.text-center.mx-auto Datechnology &copy;  Todos los derechos reservados 2021
