nav.navbar.navbar-expand-lg.navbar-light.bg-light.px-4
  a.navbar-brand(href='/') 
    i.fas.fa-microchip  Datechnology
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav.ml-auto.p-2
      a.nav-item.nav-link(href='#product') 
        i.fas.fa-laptop.mr-2  Productos
      a.nav-item.nav-link(href='#contact') 
        i.fas.fa-file-signature  Contactar
